n8n_workflows/Get Available Vehicles.json
{
  "name": "Get Available Vehicles",
  "nodes": [
    {
      "parameters": {
        "url": "={{ process.env.API_SERVER_URL }}/api/v1/vehicles?status=AVAILABLE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        0
      ],
      "id": "f6907979-20ec-409a-81ac-4c564232b947",
      "name": "Get Available Vehicles"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        0
      ],
      "id": "3cfd299d-18fa-4a2d-9e02-6f15d748b753",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d16e8e37-c201-4dcb-9803-07cb87d7511b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        736,
        0
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "availableVehicles",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        0
      ],
      "id": "8387e376-4b34-4452-bdcb-e266e0a61f81",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Available Vehicles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Vehicles": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7525a37f-01b5-4d88-8624-8c7cad948a55",
  "meta": {
    "instanceId": "86c7527e2b04955ffd99bf866fef624466e57a0d941bd53eba91ca6ab9da005a"
  },
  "id": "bivtWRO602dWnk8k",
  "tags": []
}